@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes confetti-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animate-confetti-fade-out {
    animation: confetti-fade-out 1s ease-out forwards;
}

@keyframes chat-open {
  0% {
    opacity: 0;
    transform: translateY(16px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes chat-close {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(16px) scale(0.95);
  }
}
