name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: |
        docker build -t ghcr.io/monika1235/phantask:latest .
    - name: Push Docker image
      run: |
        docker push ghcr.io/monika1235/phantask:latest
